{% extends 'StockMarket/base.html' %}
{% block content %}
<form action="" method="post" class="form-horizontal contactForm" role="form">
            {% csrf_token %}
            <div class="col-md-offset-2 col-md-8">
              <div class="form-group">
                <input type="text" name="stock_name" class="form-control" id="stock_name" placeholder="Stock Name" />
                <div class="validation"></div>
              </div>
            </div>

            <div class="col-md-offset-2 col-md-8">
              <div class="form-group">
                <input type="text" class="form-control" name="user_name" id="user_name" placeholder="Your Name" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="col-md-offset-2 col-md-8">
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" />
                <div class="validation"></div>
              </div>
            </div>

            <div class="col-md-offset-2 col-md-8">
              <div class="form-group">
                <textarea class="form-control" name="query" rows="5" data-rule="required"  placeholder="Ask your queries"></textarea>
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-8">
                <button type="submit" class="btn btn-theme btn-lg btn-block">Send message</button>
              </div>
            </div>
          </form>
{% endblock %}